@import "src/assets/scss/variables";

.wrapper-sort-option{
  @include flex(flex, space-between, center);
  margin: 0 auto;
  &__quantity-products{
    @include font(20px, 700);
    cursor: pointer;
    margin-top: 50px;
    color: $color-dark;
  }
}
.sort-option {
  color: $color-green;
  @include flex(flex, space-between, center);
  &__name {
    text-align: center;
    @include font(20px, 400);
    @include flex(flex, center, center);
    cursor: pointer;
    margin-top: 50px;
    &_selected {
      @include font(18px, 700);
    }
  }
  &__img {
    margin-left: 10px;
    &_reversed{
      transform: rotate(180deg);
    }
  }
  &__filter-icon {
    margin: 50px 30px 0 0 ;
  }
  &__line-icon{
   margin: 0 30px;
  }
}